<script src="/socket.io/socket.io.js"></script>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<title>Tic-tac-toe</title>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel='stylesheet' href='/stylesheets/style.css' />