<!DOCTYPE html>
<html>
<head>
    <% include ../views/partials/head.ejs %>
    <script src="/javascripts/generateGrid.js"></script>
    <script src="/javascripts/makeActive.js"></script>
    <script src="/javascripts/socketEvents.js"></script>
</head>
<script>
    isForbidden = function () {
        return <%=forbidden%>
    };
</script>
  <body page-type="home">
      <% include ../views/partials/header.ejs %>
      <div class="container">
          <div class="row">
            <div class="col-md-6">
                <h1><%= title %></h1>

                <div class="chooseWeapon">Choose your weapon:
                    <div class="radioBtnWrapper">
                        <input type="radio" autocomplete="off" class="weaponType" name="weapon" id="cross" value="cross" /><label for="cross">Cross</label>
                    </div>
                    <div class="radioBtnWrapper">
                        <input type="radio" autocomplete="off" class="weaponType" name="weapon" id="circle" value="circle" /><label for="circle">Circle</label>
                    </div>
                </div>

                <div class="weaponChosen hidden"></div>

                <div class="battleStarted hidden"></div>

                <div class="whoseTurn hidden"></div>

                <div class='pleaseLogin'>
                    <div class='close'>close</div>
                    <div class='text'>Please <a href='/login'>log in</a> to be able to play!</div>
                </div>

                <div class="gameFinished">
                    Game Over! The winner is:
                    <span class="winner"></span>
                </div>

                <div class="btn btn-success restartGame">
                    Restart game
                </div>
            </div>
            <div class="col-md-3">

                <div class="whoOnline">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Who is online?</div>
                            <table class="table">
                                <tr>
                                    <td>Oops! No one is online... yet.</td>
                                </tr>
                            </table>
                        </div>
                </div>

                <div class="chat">
                    <div class="container chat">
                        <div class="row">
                            <div class="chatWrapper col-md-4 col-xs-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-comment"></span>  Chat
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="input-group">
                                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                        <span class="input-group-btn">
                                            <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </body>
</html>
