<!DOCTYPE html>
<html>
<head>
    <% include ../views/partials/head.ejs %>
    <script src="/javascripts/generateGrid.js"></script>
    <script src="/javascripts/makeActive.js"></script>
</head>
<script>
    (function() {
        return isForbidden = function () {
            return <%=forbidden%>
        };
    }());
</script>
  <body page-type="home">
  <header>
      <% include ../views/partials/header.ejs %>
  </header>
  <content>
      <div class="container">
          <div class="row">
            <div class="col-md-6">
                <h1><%= title %></h1>
                <p>Welcome to <%= title %>!</p>
                <div class="chooseWeapon">Choose your weapon:
                    <div class="radioBtnWrapper">
                        <input type="radio" autocomplete="off" class="weaponType" name="weapon" id="cross" value="cross" /><label for="cross">Cross</label>
                    </div>
                    <div class="radioBtnWrapper">
                        <input type="radio" autocomplete="off" class="weaponType" name="weapon" id="circle" value="circle" /><label for="circle">Circle</label>
                    </div>
                </div>
                <div class="weaponChosen hidden"></div>
                <div class="battleStarted hidden"></div>
                <div class="whoseTurn hidden"></div>
                <div class='pleaseLogin'>
                    <div class='close'>close</div>
                    <div class='text'>Please <a href='/login'>log in</a> to be able to play!</div>
                </div>
                <div class="gameFinished">
                    Game Over! The winner is:
                    <span class="winner"></span>
                </div>
                <div class="btn btn-success restartGame">
                    Restart game
                </div>
            </div>
            <div class="col-md-6">
                <div class="whoOnline">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Who is online?</div>
                            <table class="table">
                                <% if (onlineUsers.length) {
                                        for(var i=0; i<onlineUsers.length; i++) {%>
                                <tr>
                                    <td><%= onlineUsers[i]%></td>
                                </tr>
                                <% }
                                } else {%>
                                <tr>
                                    <td>Oops! No one is online... yet.</td>
                                </tr>
                                <%}%>
                            </table>
                        </div>
                </div>
            </div>
      </div>
    </div>
  </content>
  </body>
</html>
