body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(15, 13, 13, 0.63);
    display: inline-block;
    cursor: pointer;
    position: relative;
}

h1 {
    margin-top: 0;
}

.row {
    height: 100px;
    margin-right: 0;
    margin-left: 0;
}

.grid-container {
    display: inline-block;
    position: relative;
    min-width: 300px;
}

.wrapper {
    display: inline-block;
    position: relative;
}

.cell .elem.circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 5px solid #cc0000;
}

.elem {
    width: 100px;
    height: 100px;
    position: relative;
}

.elem.cross:before, .elem.cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    /*background: #cc0000;*/
    background: #337ab7;
}

.elem.cross:before {
    left: 47%;
    width: 5%;
    height: 135%;
    top: -17%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.elem.cross:after {
    top: 47%;
    height: 5%;
    left: -17%;
    width: 135%;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.red {
    background: #cc0000;
}

.weaponType {
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
}

label {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 0;
}

label.chosen {
    text-decoration: line-through;
    font-style: italic;
}

.chooseWeapon,
.weaponChosen,
.battleStarted,
.whoseTurn {
    margin-bottom: 10px;
    min-width: 280px;
}

.restartGame {
    width: 110px;
    display: block;
}

ul.navigation {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

ul.nav.nav-pills {
    min-width: 210px;
}

li.nav-item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: underline;
}

li.nav-list.login {
    float: right;
    margin-right: 0;
}

a.logoutLink,
a.login {
    float: right;
    cursor: pointer;
}

.username {
    float: left;
    color: #a94442 !important;
    padding: 10px 0 5px 0 !important;
}

@media (max-width : 768px) {
    .username {
        padding: 5px 0 !important;
    }
}

a:hover {
    text-decoration: none;
}

span.notLoggedIn::after {
    content: "Y U NO logged in?";
    background: url("/images/yunouo.png") no-repeat;
    background-size: 27%;
    width: 180px;
    text-indent: 50px;
    position: absolute;
    left: -180px;
    top: 4px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #a94442 !important;
}

content {
    min-width: 400px;
    width: 100%;
    display: block;
}

.radioBtnWrapper {
    display: inline-block;
}

.table th {
    vertical-align: bottom;
    border-bottom: 2px solid #d6e9c6;
}

.whoOnline {
/*.chat {*/
    max-width: 300px;
    margin-top: 3px;
}

.whoOnline table td.circle::before {
    content: "o";
    color: #cc0000;
    font-size: 21px;
    vertical-align: top;
    line-height: 17px;
    margin-right: 3px;
}

.whoOnline table td.cross::before {
    content: "x";
    /*color: #cc0000;*/
    color: #337ab7;;
    font-size: 21px;
    vertical-align: top;
    line-height: 17px;
    margin-right: 3px;
}

body.forbidden .pleaseLogin,
body.finished .gameFinished{
    display: block;
}

.pleaseLogin,
.gameFinished {
    position: absolute;
    text-align: center;
    width: 300px;
    background: rgba(255, 255, 255, 0.9);
    height: 300px;
    border: 1px solid black;
    display: none;
    z-index: 2;
}

.gameFinished {
    font-size: 30px;
    line-height: 100px;
}

.gameFinished.winner {
    background: url('/images/successKid.png') no-repeat scroll 50% 100% / 70% auto rgba(255, 255, 255, 0.9);
}

.gameFinished.loser {
    background: url("/images/iKnowThatFeelBro.png") no-repeat scroll 50% 100% / 70% auto rgba(255, 255, 255, 0.9);
}

.pleaseLogin div.text {
    top: 140px;
    position: absolute;
    width: 100%;
    font-size: 16px;
}

.pleaseLogin .close{
    opacity: .6;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 14px;
}

.pleaseLogin .close:hover{
    opacity: .8;
}

span.bold {
    font-weight: 700;
}

.form-group {
    max-width: 400px;
}

.cell.crossed.horizontal::before {
    content: "";
    border: 2px solid black;
    position: absolute;
    top: 49%;
    width: 101%;
    z-index: 1;
}


.cell.crossed.vertical::after {
    content: "";
    border: 2px solid black;
    position: absolute;
    left: 49%;
    height: 101%;
    z-index: 1;
    top: 0;
}

.cell.crossed.diagonalLeft::before {
    content: "";
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    top: 47%;
    height: 4%;
    left: -21%;
    width: 143%;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.cell.crossed.diagonalRight::after {
    content: "";
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    left: 48%;
    height: 143%;
    top: -20%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


span.winner {
    font-weight: bold;
    font-size: 21px;
}

.finished .whoseTurn {
    display: none;
}

.chat,
.chatWrapper {
    padding-left: 0;
}

.chat {
    max-width: 330px;
    margin-left: 0;
    margin-right: 0;
}

.chat .panel-body {
    padding-top: 0;
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.chatWrapper.col-xs-12 {
    width: 315px;
}

.chat ul {
    padding-left: 0;
}

.chat li.message {
    display: block;
    margin-top: 5px;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

li.message span {
    color: rgba(255, 255, 255, 0.85);
    background: #337ab7;
    padding: 5px;
    border-radius: 8px;
    max-width: 70%;
    float: right;
    position: relative;
}

li.message span.mesText{
    overflow-wrap: break-word;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

li.message span.you {
    display: inline-block;
    float: left;
    background: #449d44;
}

ul li.message span.corner {
    position: absolute;
    top: 8px;
    border-radius: 0;
    width: 0;
    height: 0;
    border-style: solid;
    background: none;
    padding: 0;
}

span.corner.left {
    left: -12px;
    border-width: 3.5px 16px 9.5px 0;
    border-color: transparent #449d44 transparent transparent;
}

span.corner.right {
    right: -10px;
    border-width: 3.5px 0 9.5px 16px;
    border-color: transparent transparent transparent #337ab7;
}

ul li.message span.sender {
    background: white;
    color: #f0ad4e;
    bottom: 0;
    right: -10px;
    font-size: 16px;
    font-weight: bold;
}

.noMessages {
    display: inline-block;
    margin-top: 10px;
}

#preview {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

#preview.hover {
    background: rgba(98, 195, 98, 0.44);
}

.thumb {
    max-width: 100%;
    max-height: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.avatar {
    width: 32px !important;
    height: 32px !important;
}


form#avatar {
    position: relative;
}

form#avatar .alert.alert-danger {
    position: absolute;
    left: 210px;
    top: 45px;
}

.avatarBig {
    max-width: 170px;
    height: auto;
}

tr .progress {
    background: #d9534f;
    margin-bottom: 0;
    cursor: pointer;
}

.tooltip-inner span.green {
    color: #449d44;
}

.tooltip-inner span.red {
    color: #d9534f;
    background: none;
}

.glyphicon {
    top: 3px;
    cursor: pointer;
}

.changeAvatar {
    color: #337ab7;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}