body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(15, 13, 13, 0.63);
    display: inline-block;
    cursor: pointer;
}

.row {
    height: 100px;
    margin-right: 0;
    margin-left: 0;
}

.grid-container {
    display: inline-block;
    position: relative;
}

.wrapper {
    display: inline-block;
    position: relative;
}

.cell .elem.circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 5px solid #cc0000;
}

.elem {
    width: 100px;
    height: 100px;
    position: relative;
}

.elem.cross:before, .elem.cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #cc0000;
}

.elem.cross:before {
    left: 47%;
    width: 5%;
    height: 135%;
    top: -17%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.elem.cross:after {
    top: 47%;
    height: 5%;
    left: -17%;
    width: 135%;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.red {
    background: #cc0000;
}

.weaponType {
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
}

label {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 0;
}

label.chosen {
    text-decoration: line-through;
    font-style: italic;
}

.chooseWeapon,
.weaponChosen,
.battleStarted,
.whoseTurn {
    margin-bottom: 10px;
}

.restartGame {
    width: 110px;
    display: block;
}

ul.navigation {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

ul.nav.nav-pills {
    min-width: 210px;
}

li.nav-item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: underline;
}

li.nav-item.login {
    float: right;
    margin-right: 0;
}

a.logoutLink {
    display: inline-block !important;
    cursor: pointer;
}

a.login {
    display: inline-block !important;
}

span.notLoggedIn {
    margin-right: 10px;
}

span.notLoggedIn::before {
    content: "";
    background: url("/images/yunouo.png") no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -50px;
    top: 4px;
}

.username {
    display: inline-block;
}

content {
    min-width: 400px;
    width: 100%;
    display: block;
}

.radioBtnWrapper {
    display: inline-block;
}

.table th {
    vertical-align: bottom;
    border-bottom: 2px solid #d6e9c6;
}

.whoOnline {
    display: inline-block;
    margin-top: 3px;
}

.whoOnline table td.circle::before {
    content: "o";
    color: #cc0000;
    font-size: 21px;
    vertical-align: top;
    line-height: 17px;
    margin-right: 3px;
}

.whoOnline table td.cross::before {
    content: "x";
    color: #cc0000;
    font-size: 21px;
    vertical-align: top;
    line-height: 17px;
    margin-right: 3px;
}

.grid-container.forbidden .pleaseLogin {
    display: block;
}

.pleaseLogin {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    border: 1px solid black;
    display: none;
    z-index: 2;
}

.pleaseLogin div.text {
    top: 140px;
    position: absolute;
    width: 100%;
    font-size: 16px;
}

.pleaseLogin .close{
    opacity: .6;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 14px;
}

.pleaseLogin .close:hover{
    opacity: .8;
}

span.bold {
    font-weight: 700;
}

.form-group {
    max-width: 400px;
}

.cell.crossed.horizontal::before {
    content: "";
    border: 2px solid black;
    position: absolute;
    top: 49%;
    width: 101%;
    z-index: 1;
}


.cell.crossed.vertical::after {
    content: "";
    border: 2px solid black;
    position: absolute;
    left: 49%;
    height: 101%;
    z-index: 1;
    top: 0;
}

.cell.crossed.diagonalLeft::before {
    content: "";
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    top: 47%;
    height: 4%;
    left: -21%;
    width: 143%;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.cell.crossed.diagonalRight::after {
    content: "";
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    left: 48%;
    height: 143%;
    top: -20%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}






